/**
 * Useful for responsive font
 */
f-vw($target = $kff-fz-base, $base = $kff-w-basis)
  return ($target / ($base * 0.01))

f-size($sizes, $responsive = false)
  if $responsive
    // @todo add min and max (in px)
    // https://css-tricks.com/snippets/sass/viewport-sized-typography-minimum-maximum-sizes/
    font-size unit(remove-unit($sizes[0]) * f-vw(), 'vw')
    +below($kff-mq-tablet)
      font-size $sizes[0]
    +below($kff-mq-tablet-portrait)
      font-size $sizes[1]

  else if length($sizes) > 0
    font-size $sizes[0]
    +below($kff-mq-tablet-portrait)
      font-size $sizes[1]
    
  else
    font-size $sizes

/**
 *  
 * Since we only support modern browsers, we can get away with only using woff
 * files, as explained here: http://davidensinger.com/2014/10/update-your-font-face-file-formats-to-just-use-woff-and-woff2/
 *
 * Additional information: https://css-tricks.com/snippets/css/using-font-face/ 
 */
font-url($file, $format = 'woff', $style = 'normal')
  return '~assets/fonts/' + $file + '.' + $format

webfont($family, $file, $weight = 400, $format = 'woff')
  @font-face
    font-family $family
    src url(font-url($file, $format)) format($format)
    font-weight $weight
    font-style $style