// transition
transition($property = all, $duration = $kff-duration-default, $ease = $kff-ease-default)
  transition-timing-function $ease
  transition-duration $duration
  transition-property unquote($property)