/**
 *	#Global
 *  > generic style, like a reset ++
 *
 *	@author	KFFEIN	<dev@kffein.com>
 */
 
html
  height 100%
  font-size $kff-fz-base

body
  height 100%
  width 100%
  overflow-x hidden
  font-size 100%
  background $c-white
  color $c-black
  outline $c-alizarin-crimson
  // overflow hidden

/*
  // If you want to scroll inside a page
  // add this to your container [data-scrollable]
  html,
  body
    overflow hidden
 */


// Smoother font
*
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

a
  color inherit
  text-decoration none

img
  display inline-block
  max-width 100%
  outline none

svg
  display block
  size 100%

/**
 * @todo document all this: should have layout styl? with examples?
 */
.app
  f-style('default')
  flexbox(column)
  height 100vh
  // overflow-x hidden
  // overflow-y scroll
  // -webkit-overflow-scrolling touch

  &.-no-scroll
    overflow hidden

  > .page
    width 100%
    flex-grow 1
    // vertical-padding()
    background $c-gallery

.btn
  button()

.icon
  display inline-block

.section
  .title
    f-style(title, h1)

.page
  padding ($h-header + 5px) 0 20px
  z-index $z-page

*
  outline none
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
