.predicted[data-v-6c3c2e3f] {
  color: rgba(255,165,0,0.6);
}
.cursorWrapper[data-v-6c3c2e3f] {
  position: absolute;
  top: 0;
  left: 30px;
  right: 10px;
  bottom: 0;
}
.cursor[data-v-6c3c2e3f] {
  background-color: rgba(0,128,0,0.4);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 20px;
  z-index: 20;
  transition: width 0.4s cubic-bezier(0.19, 1, 0.22, 1);
}
.cursor[data-predicted][data-v-6c3c2e3f] {
  background-color: rgba(255,165,0,0.4);
}
.ranges[data-v-6c3c2e3f] {
  padding: 10px 20px 5px;
}
.controls[data-v-6c3c2e3f] {
  padding: 5px 20px 20px;
}
.TheChart[data-v-6c3c2e3f] {
  position: relative;
  padding-bottom: 20px;
}
.chart[data-v-6c3c2e3f] {
  padding-left: 20px;
}
.range[data-v-6c3c2e3f] {
  background: none;
  border: 1px solid;
}
.range.-day[data-v-6c3c2e3f] {
  color: #9acd32;
  border-color: #9acd32;
}
.range.-week[data-v-6c3c2e3f] {
  color: #008000;
  border-color: #008000;
}
.range.-month[data-v-6c3c2e3f] {
  color: #ffa500;
  border-color: #ffa500;
}
.range.-year[data-v-6c3c2e3f] {
  color: #f00;
  border-color: #f00;
}
.range[data-selected][data-v-6c3c2e3f] {
  color: #fff;
}
.range[data-selected].-day[data-v-6c3c2e3f] {
  background-color: #9acd32;
}
.range[data-selected].-week[data-v-6c3c2e3f] {
  background-color: #008000;
}
.range[data-selected].-month[data-v-6c3c2e3f] {
  background-color: #ffa500;
}
.range[data-selected].-year[data-v-6c3c2e3f] {
  background-color: #f00;
}
.axis[data-v-6c3c2e3f] {
  font-size: 1rem;
}
.axis.-y[data-v-6c3c2e3f] {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-align-items: stretch;
  align-items: stretch;
  -ms-justify-content: space-between;
  justify-content: space-between;
  height: 75%;
  text-align: right;
}
.axis.-y[data-v-6c3c2e3f]:before {
  content: '';
  position: absolute;
  top: 0;
  left: 25px;
  bottom: -4px;
  border-right: 1px solid #2c3e50;
}
.axis.-y .data[data-v-6c3c2e3f] {
  width: 10px;
  margin-left: 5px;
}
.axis.-x[data-v-6c3c2e3f] {
  position: absolute;
  bottom: 0;
  left: 30px;
  right: 10px;
  display: flex;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
  -ms-justify-content: space-between;
  justify-content: space-between;
  text-align: center;
}
.axis.-x[data-v-6c3c2e3f]:before {
  content: '';
  position: absolute;
  right: 0;
  left: 0;
  bottom: 23px;
  border-top: 1px solid #2c3e50;
}
.axis.-x .data[data-v-6c3c2e3f] {
  height: 20px;
  position: relative;
}
.axis.-x .data[data-v-6c3c2e3f]:before {
  content: '|';
  position: absolute;
  top: -50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.axis.-x .data[data-v-6c3c2e3f]:nth-child(1) {
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.axis.-x .data[data-v-6c3c2e3f]:nth-child(2) {
  -webkit-transform: translateX(-25%);
  transform: translateX(-25%);
}
.axis.-x .data[data-v-6c3c2e3f]:nth-child(3) {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}
.axis.-x .data[data-v-6c3c2e3f]:nth-child(4) {
  -webkit-transform: translateX(25%);
  transform: translateX(25%);
}
.axis.-x .data[data-v-6c3c2e3f]:nth-child(5) {
  -webkit-transform: translateX(50%);
  transform: translateX(50%);
}
.title[data-v-6c3c2e3f] {
  padding: 20px 0px 0 10px;
  margin: 0;
  font-family: 'FontTitle', Helvetica, Arial, sans-serif;
  font-size: 2.777777777777778vw;
}
@media only screen and (max-width: 768px) {
.title[data-v-6c3c2e3f] {
    font-size: 4rem;
}
}
@media only screen and (max-width: 768px) {
.title[data-v-6c3c2e3f] {
    font-size: 2.6rem;
}
}
.dates[data-v-6c3c2e3f] {
  padding: 0 0 10px 10px;
  font-family: 'FontText', Arial, Helvetica, sans-serif;
  line-height: 1.25;
  font-size: 1.6rem;
  font-size: 1.3rem !important;
}
@media only screen and (max-width: 768px) {
.dates[data-v-6c3c2e3f] {
    font-size: 1.6rem;
}
}

.PageInfoSingle[data-v-4da34c08] {
  background-color: #fff;
}
.header[data-v-4da34c08] {
  overflow: hidden;
  position: relative;
  position: relative;
}
.header[data-v-4da34c08]:before {
  content: "";
  display: block;
  height: 0;
  padding-top: 56.25%;
}
.header .title[data-v-4da34c08] {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-family: 'FontTitle', Helvetica, Arial, sans-serif;
  font-size: 3.472222222222222vw;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #fff;
  z-index: 10;
}
@media only screen and (max-width: 768px) {
.header .title[data-v-4da34c08] {
    font-size: 5rem;
}
}
@media only screen and (max-width: 768px) {
.header .title[data-v-4da34c08] {
    font-size: 3rem;
}
}
.button[data-v-4da34c08] {
  display: inline-block;
  display: inline-block;
  margin-top: 20px;
  border: 2px solid #f00;
  color: #f00;
  padding: 10px 20px;
  background-color: #fff;
  margin-left: 1em;
}
.content[data-v-4da34c08] {
  padding: 20px;
  line-height: 1.4;
}
.content[data-v-4da34c08] ul {
  list-style: outside disc;
  margin-left: 20px;
}
.content[data-v-4da34c08] h2 {
  font-family: 'FontTitle', Helvetica, Arial, sans-serif;
  font-size: 2.777777777777778vw;
  margin-top: 20px;
}
@media only screen and (max-width: 768px) {
.content[data-v-4da34c08] h2 {
    font-size: 4rem;
}
}
@media only screen and (max-width: 768px) {
.content[data-v-4da34c08] h2 {
    font-size: 2.6rem;
}
}
.content[data-v-4da34c08] h3 {
  font-family: 'FontTitle', Helvetica, Arial, sans-serif;
  font-size: 1.527777777777778vw;
  margin-top: 10px;
}
@media only screen and (max-width: 768px) {
.content[data-v-4da34c08] h3 {
    font-size: 2.2rem;
}
}
@media only screen and (max-width: 768px) {
.content[data-v-4da34c08] h3 {
    font-size: 2.4rem;
}
}
.content[data-v-4da34c08] a {
  display: inline-block;
  margin-top: 20px;
  border: 2px solid #f00;
  color: #f00;
  padding: 10px 20px;
}
#top[data-v-4da34c08] {
  background: #fff;
}
#middle[data-v-4da34c08] {
  background: #112;
  display: flex;
}
#middle h1[data-v-4da34c08] {
  color: #f00;
  -ms-flex-grow: 2;
  flex-grow: 2;
}
#middle .d3Graph[data-v-4da34c08] {
  -ms-flex-grow: 8;
  flex-grow: 8;
  border: 2px solid #000;
  border-radius: 1em;
}
#bottom[data-v-4da34c08] {
  background: #123;
}
/**
 * TABLE OF CONTENT
 * --------
 *  - LAYOUT
 *  - DEBUG
 *  - NO_SCOPE
 */

