body[data-v-652499f2] {
  font-family: Helvetica Neue, Arial, sans-serif;
  font-size: 14px;
  color: #444;
}
table[data-v-652499f2] {
  border: 2px solid #42b983;
  border-radius: 3px;
  background-color: #fff;
}
th[data-v-652499f2] {
  background-color: #42b983;
  color: rgba(255,255,255,0.66);
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
td[data-v-652499f2] {
  background-color: #f9f9f9;
}
th[data-v-652499f2],
td[data-v-652499f2] {
  min-width: 120px;
  padding: 10px 20px;
}
th.active[data-v-652499f2] {
  color: #fff;
}
th.active .arrow[data-v-652499f2] {
  -ms-filter: none;
  -webkit-filter: none;
          filter: none;
  opacity: 1;
}

