.SectionStatus[data-v-11276b11] {
  padding: 1em;
}
.SectionStatus >.title[data-v-11276b11] {
  margin-bottom: 0.3em;
}
.alertes[data-v-11276b11] {
  border: 2px solid #ed4f3b;
  background-color: #ed4f3b;
  padding: 3px;
  margin-bottom: 5px;
  border-radius: 10px;
  display: flex;
  position: relative;
}
.active[data-v-11276b11] {
  background-color: rgba(237,79,59,0.2);
}
/**
  * TABLE OF CONTENT
  * --------
  *  - LAYOUT
  *  - DEBUG
  *  - NO_SCOPE
  */
.icon[data-v-11276b11] {
  width: 3em;
  height: 3em;
}
.closeIcon[data-v-11276b11] {
  width: 25px;
  height: 25px;
  margin-left: 90%;
  position: absolute;
}
.SectionStatus[data-v-11276b11] {
  min-height: 50vh;
}

/**
*
* TABLE OF CONTENT
* --------
* =LAYOUT
* =DEBUG
*/
/* ===LAYOUT=== */
[data-cover="cover"][data-v-2aaf8b3d],
[data-cover="contain"][data-v-2aaf8b3d] {
  position: relative;
}
[data-cover="cover"] .image[data-v-2aaf8b3d],
[data-cover="contain"] .image[data-v-2aaf8b3d] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
[data-cover="cover"] .image[data-v-2aaf8b3d] {
  -o-object-fit: cover;
     object-fit: cover;
}
[data-cover="contain"] .image[data-v-2aaf8b3d] {
  -o-object-fit: contain;
     object-fit: contain;
}
[data-overlay][data-v-2aaf8b3d]:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  background-image: linear-gradient(to top,rgba(255,255,255,0.5) 10%,rgba(255,255,255,0));
}
[data-full][data-v-2aaf8b3d] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
/* ===DEBUG=== */

.SubjectCard[data-v-69d78290] {
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-align-items: stretch;
  align-items: stretch;
  background-color: #fff;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
}
.SubjectCard .content[data-v-69d78290] {
  -ms-flex-grow: 1;
  flex-grow: 1;
  padding-top: 20px;
}
.SubjectCard .title[data-v-69d78290] {
  font-family: 'FontTitle', Helvetica, Arial, sans-serif;
  font-size: 1.527777777777778vw;
}
@media only screen and (max-width: 768px) {
.SubjectCard .title[data-v-69d78290] {
    font-size: 2.2rem;
}
}
@media only screen and (max-width: 768px) {
.SubjectCard .title[data-v-69d78290] {
    font-size: 2.4rem;
}
}
@media only screen and (min-width: 769px) {
.SubjectCard[data-v-69d78290] {
    padding: 20px;
}
.SubjectCard .content[data-v-69d78290] {
    display: flex;
    -ms-align-items: flex-start;
    align-items: flex-start;
}
.SubjectCard .picture[data-v-69d78290] {
    overflow: hidden;
    position: relative;
    flex: 0 0 30%;
    margin-right: 20px;
}
.SubjectCard .picture[data-v-69d78290]:before {
    content: "";
    display: block;
    height: 0;
    padding-top: 75%;
}
.SubjectCard .description[data-v-69d78290] {
    max-width: 400px;
    -ms-flex-grow: 1;
    flex-grow: 1;
}
}
@media only screen and (max-width: 768px) {
.SubjectCard .picture[data-v-69d78290] {
    overflow: hidden;
    position: relative;
    width: 100%;
}
.SubjectCard .picture[data-v-69d78290]:before {
    content: "";
    display: block;
    height: 0;
    padding-top: 56.25%;
}
.SubjectCard .content[data-v-69d78290] {
    padding: 20px;
}
.SubjectCard .title[data-v-69d78290] {
    margin-bottom: 20px;
}
}

/**
* TABLE OF CONTENT
* --------
*  - LAYOUT
*  - DEBUG
*  - NO_SCOPE
*/
.SectionGraphics[data-v-d05695bc] {
  padding-left: 1em;
  display: flex;
  flex-direction: column;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-align-items: stretch;
  align-items: stretch;
  padding-bottom: 20px;
}
.Swiper[data-v-d05695bc] {
  -ms-flex-grow: 1;
  flex-grow: 1;
  width: 100%;
  margin-top: 20px;
  overflow: visible;
}
.Slide[data-v-d05695bc] {
  height: 100%;
}

/**
* TABLE OF CONTENT
* --------
*  - LAYOUT
*  - DEBUG
*  - NO_SCOPE
*/


.TheBurger {
  fill: #000;
  pointer-events: all;
  cursor: pointer;
}
.TheBurger .bar {
  position: absolute;
  -webkit-transform: rotate(0) translateY(0) translateX(0);
  transform: rotate(0) translateY(0) translateX(0);
  -ms-filter: none;
  -webkit-filter: none;
          filter: none;
  opacity: 1;
  -webkit-transform-origin: 20px 10px;
  transform-origin: 20px 10px;
  transition: opacity 0.2s ease-in-out, -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, opacity 0.2s ease-in-out;
  transition: transform 0.4s ease-in-out, opacity 0.2s ease-in-out, -webkit-transform 0.4s ease-in-out;
}
.TheBurger .bar:nth-of-type(1) {
  -webkit-transform-origin: 20px 10px;
  transform-origin: 20px 10px;
}
.TheBurger .bar:nth-of-type(3) {
  -webkit-transform-origin: 20px 20px;
  transform-origin: 20px 20px;
}
.TheBurger[data-open] .bar:nth-of-type(1) {
  -webkit-transform: rotate(-45deg) translateY(0) translateX(0%);
  transform: rotate(-45deg) translateY(0) translateX(0%);
}
.TheBurger[data-open] .bar:nth-of-type(2) {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
}
.TheBurger[data-open] .bar:nth-of-type(3) {
  -webkit-transform: rotate(45deg) translateY(0em) translateX(0em);
  transform: rotate(45deg) translateY(0em) translateX(0em);
}

/**
 * TABLE OF CONTENT
 * --------
 *  - LAYOUT
 *  - DEBUG
 *  - NO_SCOPE
 */
.logo[data-v-419d3088] {
  border-radius: 50%;
}
.TheHeader[data-v-419d3088] {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  z-index: 100;
}
.navBar[data-v-419d3088] {
  display: flex;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
  padding: 0.5em 2em;
  background-color: #fff;
  box-shadow: 1px 0px 10px #888;
  position: relative;
  z-index: 200;
}
.menu[data-v-419d3088] {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-align-items: stretch;
  align-items: stretch;
  -ms-justify-content: center;
  justify-content: center;
  padding: 20px;
  background-color: #fff;
  z-index: 100;
  transition: -webkit-transform 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  transition: transform 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  transition: transform 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53), -webkit-transform 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
.menu[data-open][data-v-419d3088] {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
.menu .list[data-v-419d3088] {
  display: flex;
  flex-direction: column;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-align-items: stretch;
  align-items: stretch;
  -ms-justify-content: space-between;
  justify-content: space-between;
}
.menu .list >.item[data-v-419d3088] {
  padding: 1em 0;
}
.subjects[data-v-419d3088] {
  position: relative;
}
.subjects .list[data-v-419d3088] {
  height: 0px;
  overflow: hidden;
  transition: height 0.4s ease-in-out;
}
.subjects .list[data-open][data-v-419d3088] {
  height: 140px;
  height: 162px;
}
.subjects .item[data-v-419d3088] {
  padding: 0.2em 0 !important;
}
.subjects .item[data-v-419d3088]:first-child {
  margin-top: 0.2em;
}
.subjects .item[data-v-419d3088]:last-of-type {
  padding-bottom: 0;
}
.subjects .link[data-v-419d3088] {
  display: flex;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  -ms-align-items: center;
  align-items: center;
}
.subjects .link .triangle[data-v-419d3088] {
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-top-color: #000;
  margin-left: 10px;
  position: relative;
  top: 2px;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  -webkit-transform-origin: center 4.5px;
  transform-origin: center 4.5px;
}
.subjects .link .triangle[data-open][data-v-419d3088] {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.link[data-v-419d3088] {
  cursor: pointer;
}
.logo[data-v-419d3088] {
  width: 40px;
  height: 40px;
}
.burger[data-v-419d3088] {
  width: 20px;
  height: 20px;
}

/**
 * TABLE OF CONTENT
 * --------
 *  - LAYOUT
 *  - DEBUG
 *  - NO_SCOPE
 */
.TheFooter[data-v-883a78f6] {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'FontText', Arial, Helvetica, sans-serif;
  line-height: 1.25;
  font-size: 1.6rem;
  font-size: 1.2rem;
}
@media only screen and (max-width: 768px) {
.TheFooter[data-v-883a78f6] {
    font-size: 1.6rem;
}
}
@media only screen and (max-width: 768px) {
.TheFooter[data-v-883a78f6] {
    font-size: ;
}
}
.row[data-v-883a78f6] {
  display: flex;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
}
.copyrights[data-v-883a78f6] {
  text-align: center;
}
nav ul[data-v-883a78f6] {
  display: flex;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
}
nav ul a[data-v-883a78f6] {
  margin-left: 10px;
  font-family: 'FontText', Arial, Helvetica, sans-serif;
  line-height: 1.25;
  font-size: 1.6rem;
  font-size: 2.3rem;
}
@media only screen and (max-width: 768px) {
nav ul a[data-v-883a78f6] {
    font-size: 1.6rem;
}
}
@media only screen and (max-width: 768px) {
nav ul a[data-v-883a78f6] {
    font-size: ;
}
}

.line[data-v-b5356968] {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 5px;
  background: #000;
}

/**
 * =LAYOUT
 * =DEBUG
 */
/* ===LAYOUT=== */
/* ===DEBUG=== */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html {
  height: 100%;
  font-size: 10px;
}
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  font-size: 100%;
  background: #fff;
  color: #000;
  outline: #ec1d24;
}
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  color: inherit;
  text-decoration: none;
}
img {
  display: inline-block;
  max-width: 100%;
  outline: none;
}
svg {
  display: block;
  width: 100%;
  height: 100%;
}
.app {
  font-family: 'FontText', Arial, Helvetica, sans-serif;
  line-height: 1.25;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-align-items: stretch;
  align-items: stretch;
  height: 100vh;
}
@media only screen and (max-width: 768px) {
  .app {
    font-size: 1.6rem;
  }
}
.app.-no-scroll {
  overflow: hidden;
}
.app > .page {
  width: 100%;
  -ms-flex-grow: 1;
  flex-grow: 1;
  background: #f5f5f5;
}
.btn {
  background-color: #000;
  color: #fff;
  border-radius: 0;
  display: inline-block;
  transition: ;
  text-decoration: none;
  padding: 11px 20px;
  margin-bottom: 5px;
  font-size: 1.1em;
  font-weight: bold;
}
.btn:hover {
  background-color: #fff;
  color: #000;
  transition: ;
}
.icon {
  display: inline-block;
}
.section .title {
  font-family: 'FontTitle', Helvetica, Arial, sans-serif;
  font-size: 3.472222222222222vw;
  text-transform: uppercase;
  font-weight: bold;
}
@media only screen and (max-width: 768px) {
  .section .title {
    font-size: 5rem;
  }
}
@media only screen and (max-width: 768px) {
  .section .title {
    font-size: 3rem;
  }
}
.page {
  padding: 55px 0 20px;
  z-index: 50;
}
* {
  outline: none;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */ /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}
._container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 1400px) {
  ._container {
    max-width: calc(100% - 120px);
  }
}
@media only screen and (max-width: 768px) {
  ._container {
    max-width: calc(100% - 90px);
  }
}
@media only screen and (max-width: 600px) {
  ._container {
    max-width: calc(100% - 30px);
  }
}
@media only screen and (max-width: 768px) {
  ._desktop {
    display: none !important;
  }
}
@media only screen and (min-width: 769px) {
  ._not-desktop {
    display: none !important;
  }
}
@media only screen and (min-width: 600px) {
  ._mobile {
    display: none !important;
  }
}
._scrollable,
.[data-scrollable] {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
._scrollable[data-scroll-enabled='false'],
.[data-scrollable][data-scroll-enabled='false'] {
  overflow: hidden;
}
._nl2br {
  white-space: pre-wrap;
}
.wysiwyg {
  font-family: 'FontText', Arial, Helvetica, sans-serif;
  line-height: 1.25;
  font-size: 1.6rem;
}
@media only screen and (max-width: 768px) {
  .wysiwyg {
    font-size: 1.6rem;
  }
}
.wysiwyg > * + p,
.wysiwyg > * + ul,
.wysiwyg > * + ol {
  margin-top: 20px;
  margin-bottom: 20px;
}
.wysiwyg a {
  text-decoration: underline;
}
.wysiwyg a:hover {
  text-decoration: none;
}
.wysiwyg ul {
  list-style: outside square;
}
.wysiwyg ul li {
  margin-left: 1em;
}
.wysiwyg ol {
  list-style: outside decimal;
}
.wysiwyg ol li {
  margin-left: 1em;
}
.wysiwyg b,
.wysiwyg strong {
  font-family: 'FontText', Arial, Helvetica, sans-serif;
  line-height: 1.25;
  font-size: 1.6rem;
  font-weight: 700;
}
@media only screen and (max-width: 768px) {
  .wysiwyg b,
  .wysiwyg strong {
    font-size: 1.6rem;
  }
}
.wysiwyg i,
.wysiwyg em {
  font-family: 'FontText', Arial, Helvetica, sans-serif;
  line-height: 1.25;
  font-size: 1.6rem;
  font-style: italic;
}
@media only screen and (max-width: 768px) {
  .wysiwyg i,
  .wysiwyg em {
    font-size: 1.6rem;
  }
}
.wysiwyg b > i,
.wysiwyg b > em,
.wysiwyg strong > i,
.wysiwyg strong > em,
.wysiwyg i > b,
.wysiwyg i > strong,
.wysiwyg em > b,
.wysiwyg em > strong {
  font-family: 'FontText', Arial, Helvetica, sans-serif;
  line-height: 1.25;
  font-size: 1.6rem;
  font-style: italic;
  font-weight: 700;
}
@media only screen and (max-width: 768px) {
  .wysiwyg b > i,
  .wysiwyg b > em,
  .wysiwyg strong > i,
  .wysiwyg strong > em,
  .wysiwyg i > b,
  .wysiwyg i > strong,
  .wysiwyg em > b,
  .wysiwyg em > strong {
    font-size: 1.6rem;
  }
}
.wysiwyg sup {
  position: relative;
  top: -0.2em;
  font-size: 75%;
  line-height: 0;
  vertical-align: super;
}
.wysiwyg del {
  text-transform: line-through;
}

